/* Write your code here. */
.NavBar {
  background-color: #6a59ff;
  padding: 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 0px;
}
.NameAndLogo {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.ScoreBar {
  display: flex;
  align-items: center;
}
.scoreText {
  margin-left: 25px;
}
